@using CRM.Domain.Enums

@model CRM.WebUI.ViewModels.Formularios.PerguntaComTipoVM

@{
    var perguntaId = Guid.NewGuid();
}

@functions {
    List<SelectListItem> ObterSelectListETipoTextoCurto()
    {
        List<SelectListItem> selectListTipoTexto = new List<SelectListItem> { new SelectListItem { Text = "Sem Formatação", Value = "" } };

        selectListTipoTexto.AddRange(ETipoTextoCurto.List.Select(e => new SelectListItem { Text = e.Name, Value = e.Value.ToString() }).ToList());

        return selectListTipoTexto;
    }
}

<div class="mb-5" data-formulario-modelo="pergunta" data-id="@perguntaId" data-secao-id="@Model.SecaoIndex">
    <input type="hidden" name="Secoes[@Model.SecaoIndex].Perguntas.Index" value="@perguntaId" />
    <input type="hidden" name="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].ValidacaoAtiva" value="true" />
    <input type="hidden" name="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].Ordem" value="1" />
    <input type="hidden" name="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].Tipo" value="@Model.Tipo" />
    <section class="card">
        <header class="card-header">
            <div class="w-100 d-flex justify-content-between align-items-center">
                <div class="card-title m-0">
                    <h4 class="fw-bold m-0">Texto Curto</h4>
                </div>
                <div class="d-flex align-items-center py-2 py-md-1">
                    <button type="button" class="btn btn-sm btn-outline btn-outline-primary w-175px me-2" onclick="formularioModeloCadastro.duplicarPergunta('@perguntaId')">
                        <i class="fa-light fa-copy"></i>
                        Duplicar Pergunta
                    </button>
                    <button type="button" class="btn btn-sm btn-outline btn-outline-danger w-175px" onclick="formularioModeloCadastro.removerPergunta('@perguntaId')">
                        <i class="fa-light fa-minus"></i>
                        Remover Pergunta
                    </button>
                </div>
            </div>
        </header>
        <div class="card-body">
            <div class="form-group row mb-5">
                <div class="col-12">
                    <label for="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].Enunciado" class="form-label required">Enunciado</label>
                    <input id="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].Enunciado"
                           name="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].Enunciado"
                           class="form-control maxlength" data-val="true"
                           data-val-required="O campo Enunciado é obrigatório."
                           data-val-length="O campo Enunciado deve ter entre 3 e 255 caracteres"
                           data-val-length-max="255"
                           data-val-length-min="3"
                           maxlength="255" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].Enunciado" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group row mb-5">
                <div class="col-12">
                    <label for="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].Descricao" class="form-label">Descrição</label>
                    <textarea id="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].Descricao"
                              name="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].Descricao"
                              class="form-control autosize-custom maxlength" rows="1" data-val="true"
                              data-val-length="O campo Descrição deve ter no máximo 1000 caracteres"
                              data-val-length-max="1000"
                              maxlength="1000"></textarea>
                    <span class="text-danger field-validation-valid" data-valmsg-for="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].Descricao" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group row mb-5">
                <div class="col-12">
                    <div class="form-control pe-none form-control-solid user-select-none">Resposta do tipo texto curto...</div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 mb-5">
                    <label for="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].FormatoTexto" class="form-label">Formato do Texto</label>
                    <select name="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].FormatoTexto" class="form-select" data-plugin-selecttwo asp-items="@ObterSelectListETipoTextoCurto()">
                    </select>
                </div>
                <div class="col-12 mb-5">
                    <div class="row">
                        <div class="col-6">
                            <label for="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].QuantidadeMinimaCaracteres" class="form-label">
                                Quantidade de caracteres mínima no campo
                            </label>
                            <input type="number"
                                   class="form-control"
                                   name="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].QuantidadeMinimaCaracteres"
                                   min="1"
                                   max="250"
                                   onchange="formularioModeloCadastro.validateQuantidadeMinimaCaracteres(this)"
                                   data-campo-quantidade-maxima="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].QuantidadeMaximaCaracteres" />
                            <span class="text-danger" style="display: none" data-valmsg-for="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].QuantidadeMinimaCaracteres"></span>

                        </div>
                        <div class="col-6">
                            <label for="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].QuantidadeMaximaCaracteres" class="form-label">
                                Quantidade de caracteres máxima no campo
                            </label>
                            <input type="number"
                                   class="form-control"
                                   name="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].QuantidadeMaximaCaracteres"
                                   min="1"
                                   max="250"
                                   onchange="formularioModeloCadastro.validateQuantidadeMaximaCaracteres(this)"
                                   data-campo-quantidade-minima="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].QuantidadeMinimaCaracteres" />
                            <span class="text-danger" style="display: none" data-valmsg-for="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].QuantidadeMaximaCaracteres"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="card-footer d-flex justify-content-end">
            <div class="form-check form-switch form-check-custom form-check-solid">
                <label class="form-check-label me-2" for="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].Obrigatorio">Obrigatório</label>
                <input class="form-check-input h-30px w-50px"
                       type="checkbox" 
                       onchange="formularioModeloCadastro.toggleCheckboxValue(this)" 
                       id="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].Obrigatorio" 
                       name="Secoes[@Model.SecaoIndex].Perguntas[@perguntaId].Obrigatorio" 
                       value="false" />
            </div>
        </footer>
    </section>
</div>